@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,600;0,700;1,600&display=swap');
:root{
    /*declare variables here*/
    --primary-green: #00865E;
    --secondary-green: #75C59C;
    --blue: #348585;
    --margin-nav-and-foot: 1rem;
    --margin-main:  1rem 2rem 1rem 2rem;
}

*{
    font-family: 'inter', sans-serif;
}

body{
    margin: 0;
}

nav{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #00976A;

}

.logo{
    height: 28px;
    margin: var(--margin-nav-and-foot);
}

.title{
    padding-top: 4rem;
}

h1{ 
    font-weight: 600;
    font-size: 24px;
    color: white;
}

h2{
    font-weight: 600;
    font-size: 20px;
}

h3{
    font-weight: 500;
    font-size: 20px;
}

h4{
    font-size: 10px;
    color: var(--primary-green);
}

button{
    position: relative;
    background-color: var(--blue);
    margin: auto;
    width: 233px;
    height: 34px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

a{
    text-decoration: none;
}

/***************INDEX SIDE***************/

.center-button{
    margin: 3rem auto 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.top-design{
    position: relative;
    padding: 3rem;
    background: rgb(0,151,106);
    background: linear-gradient(180deg, rgba(0,151,106,1) 0%, rgba(130,220,174,1) 100%);
}

input{
    margin: var(--margin-main);
    width: 100%;
    max-width: 50rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    font-family: 'inter', sans-serif;
    padding-left: 1rem;
}

/*waves*/

.wavetop {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wavetop svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.wavetop .shape-fill {
    fill: #5AC58F;
}

.bottomwave{
    position: relative;
    padding-bottom: 2rem;
}

.wavebtm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wavebtm .shape-fill {
    fill: #5AC58F;
}

/*********************SAMMENLIGNINGSDELEN**********************/
#compare{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

#compare.unhide{
    opacity: 1;
    height: auto;
}

#compare h4{
    padding-left: 0.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    margin: 0;
    
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row p{
    margin: 0;
    padding-right: 1rem;
    font-size: 12px;
}

.comparetitel{
    text-align: center;
}

.comparison{
    border-right: solid 2px var(--secondary-green);
}

.darker{
    background-color: rgba(230, 230, 230, 0.5);
}




/*********BLOGINDLÆG INDEX***************/

#indexblogtitel{
    margin: var(--margin-main);
    padding-top: 3rem;
}

.blog-wrapper{
    margin: var(--margin-main);
    position: relative;
    overflow: hidden;
    display: flex;
}

.blog-container{
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.blog-container::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.blog-container li{
    padding-right: 0.8rem;
}

.post img{
    height: 9rem;
    flex: 1 0 100%;
}

.post p{
    font-size: 15px;
}

.post a{
    text-decoration: none;
    font-style: italic;
    color: var(--blue);

}

.arrow{
    position: absolute;
    display: flex;
    bottom: 50%;
    margin: 0;
    height: 4rem;
    background-color: var(--blue);
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
}

#slide-arrow-prev {
    left: 0;
    border-radius: 0 2rem 2rem 0;
  }

#slide-arrow-next {
    right: 0;
    border-radius: 2rem 0 0 2rem;
  }

.chevronarrowleft{
    position: absolute;
    bottom: 50%;
    left: 10%;
}

.chevronarrowright{
    position: absolute;
    bottom: 50%;
    right: 10%;
}

/***********************FOOTER*******************/

footer{
    height: 4rem;
    width: 100%;
    background-color: #00865E;
}

.footer-contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-contents{
    padding-right: 1em;
}

.contacts{
    padding-left: 1rem;
}


/*******************BLOGOVERSIGT***********************/

#blogtxt{
    color: white;
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 2rem;
}

.blog-grid{
    margin: var(--margin-main);
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

    /***************BLOGSIDE - ALTSÅ MED POST*********************/

#blogimg{
    width: 18rem;
} 

#blogsiteheader{
    padding-top: 3rem;
    font-size: 18px;
    line-height: 1.5rem;
}

.blogpost{
    margin: var(--margin-main);
}

#progress-bar{
    --progress: 0;
    height: 6px;
    width: var(--progress);
    background-color: var(--secondary-green);
}

.top-blogpost{
    padding-bottom: 3rem;
}


/******************** media querys***************/

@media screen and (min-width: 800px) {
    .title{
        text-align: center;
    }

    .flex-center{
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    #comparearrow{
        transform: rotate(270deg);
    }

    h1{
        font-size: 40px;
    }
    
    h2{
        font-size: 28px;
    }

    h4{
        font-size: 12px;
    }

    .wavetop{
        height: 80px;
    }
    .wavebtm svg{
        height: 80px;
        width: 100%;
    }
    .comparecar{
        padding-top: 3rem;
        height: 10rem;
    }
    .row p{
        font-size: 15px;
    }

    .blog-wrapper{
        margin: auto;
        display: flex;
        align-content: center;
        justify-content: center;
        max-width: 50rem;
        padding-top: 3rem;
    }
    .blog-container img{
        height: 15rem;
    }

    .post p{
        font-size: 18px;
    }

    .post a{
        font-size: 18px;
    }

    button{
        width: 300px;
        height: 40px;
        font-size: 24px;
    }

    .contacts{
        padding-left: 2rem;
    }

    .blogtitel{
        text-align: left;
    }

    #blogtxt{
        font-size: 18px;
    }

    .blog-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding-bottom: 2rem;
    }

    .post img{
        height: 15rem;
    }

    .top-blogpost{
        padding-top: 5rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #blogsiteheader{
        font-size: 30px;
        line-height: 2.5rem;
    }

    .blogpost{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    #blogimg{
        padding-left: 2rem;
    }

}



@media screen and (min-width: 1000px) {
    .row p{
        font-size: 18px;
    }
    
    .row h4{
        font-size: 15px;
    }
}