@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,600;0,700;1,600&display=swap');
:root{
    /*declare variables here*/
    --primary-green: #00865E;
    --secondary-green: #75C59C;
    --blue: #348585;
    --margin-nav-and-foot: 1rem;
    --margin-main:  1rem 2rem 1rem 2rem;
}

*{
    font-family: 'inter', sans-serif;
}

body{
    margin: 0;
}

nav{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #00976A;

}

.logo{
    height: 28px;
    margin: var(--margin-nav-and-foot);
}

.title{
    padding-top: 4rem;
}

h1{ 
    font-weight: 600;
    font-size: 24px;
    color: white;
}

h2{
    font-weight: 600;
    font-size: 24px;
}

h3{
    font-weight: 500;
    font-size: 20px;
}

button{
    position: relative;
    background-color: var(--blue);
    margin: auto;
    width: 233px;
    height: 34px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

/***************INDEX SIDE***************/

.center-button{
    margin: 3rem auto 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.top-design{
    position: relative;
    padding: 3rem;
    background: rgb(0,151,106);
    background: linear-gradient(180deg, rgba(0,151,106,1) 0%, rgba(130,220,174,1) 100%);
}

input{
    margin: var(--margin-main);
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    font-family: 'inter', sans-serif;
    padding-left: 1rem;
}

/*waves*/

.wavetop {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wavetop svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.wavetop .shape-fill {
    fill: #5AC58F;
}

.bottomwave{
    position: relative;
    padding-bottom: 2rem;
}

.wavebtm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wavebtm .shape-fill {
    fill: #5AC58F;
}

/*********BLOGINDLÆG INDEX***************/

.blog-wrapper{
    margin: var(--margin-main);
    position: relative;
    overflow: hidden;
}

.blog-container{
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.blog-container::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.blog-container li{
    padding-left: 1rem;
}

.post img{
    height: 9rem;
    flex: 1 0 100%;
}

.post p{
    font-size: 15px;
}

.post a{
    text-decoration: none;
    font-style: italic;
    color: var(--blue);
}

.arrow{
    position: absolute;
    display: flex;
    bottom: 50%;
    margin: auto;
    height: 4rem;
    background-color: var(--blue);
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }

#slide-arrow-next {
    right: 0;
    padding-right: 0.25rem;
    border-radius: 2rem 0 0 2rem;
  }

.chevronarrowleft{
    position: absolute;
    bottom: 50%;
    left: 10%;
}

.chevronarrowright{
    position: absolute;
    bottom: 50%;
    right: 10%;
}

/***********************FOOTER*******************/

footer{
    height: 4rem;
    width: 100%;
    background-color: #00865E;
}

.footer-contacts{
    margin: var(--margin-nav-and-foot);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*******************BLOGOVERSIGT***********************/

#blogtxt{
    color: white;
    font-weight: 400;
    font-size: 15px;
}

.blog-grid{
    margin: var(--margin-main);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

    /***************BLOGSIDE - ALTSÅ MED POST*********************/

#blogimg{
    width: 18rem;
} 

#blogsiteheader{
    font-size: 18px;
    line-height: 1.5rem;
}

.blogpost{
    margin: var(--margin-main);
}

#progress-bar{
    --progress: 0;
    height: 6px;
    width: var(--progress);
    background-color: var(--secondary-green);
}