@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,600;0,700;1,600&display=swap');
:root{
    /*declare variables here*/
    --primary-green: #00865E;
    --secondary-green: #75C59C;
    --blue: #348585;
    --margin-nav-and-foot: 1rem;
    --margin-main: 1rem 2rem 1rem 2rem;
}

*{
    font-family: 'inter', sans-serif;
}

body{
    margin: 0;
}


nav{
    background-color: #00976A;

}

.logo{
    height: 28px;
    margin: var(--margin-nav-and-foot);
}

h1{
    font-weight: 600;
    font-size: 24px;
    color: white;
}

button{
    background-color: var(--blue);
    margin: 2rem;
    width: 233px;
    height: 34px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}


.top-design{
    position: relative;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(0,151,106);
    background: linear-gradient(180deg, rgba(0,151,106,1) 0%, rgba(130,220,174,1) 100%);
}

input{
    margin: var(--margin-main);
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    font-family: 'inter', sans-serif;
    padding-left: 1rem;
}

.waves{
    position: absolute;
    top: 55%;
}

.blogcontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}



